### Dataset: https://www.kaggle.com/mirichoi0218/insurance

### Import the library

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

### Import Data

In [2]:
data = pd.read_csv('S07_datasets_13720_18513_insurance.csv')

In [3]:
X = data.iloc[:,:-1]

In [4]:
Y = data.iloc[:,-1]

In [5]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

## One hot encoding

In [6]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [7]:
columnTransformer = ColumnTransformer([('encoder', OneHotEncoder(), [1,4,5])], remainder='passthrough')

In [10]:
X = columnTransformer.fit_transform(X)

### Train test split

In [11]:
import numpy as np
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state=1)

### Building Linear model

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
model = LinearRegression()

In [15]:
model.fit(X_train,y_train)

LinearRegression()

### Making the prediction

In [16]:
y_pred = model.predict(X_test)

In [18]:
#print(y_pred)

### Comparing the results

In [19]:
comparision = pd.DataFrame()

In [20]:
comparision['Actual'] = y_test

In [21]:
comparision['predicted'] = y_pred

In [22]:
comparision

           Actual     predicted
559    1646.42970   4383.680900
1087  11353.22760  12885.038922
1020   8798.59300  12589.216532
460   10381.47870  13286.229192
802    2103.08000    544.728328
...           ...           ...
682   40103.89000  33555.184440
629   42983.45850  35949.523051
893   44202.65360  36650.467231
807    2136.88225   4961.928843
1165   5227.98875   6116.920574

[268 rows x 2 columns]

### Evaluatation

In [23]:
from sklearn.metrics import r2_score

In [24]:
r2_score(y_test, y_pred)

0.7623311844057113