### Dataset: https://www.kaggle.com/mirichoi0218/insurance

### Import the library

In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

### Import Data

In [28]:
data = pd.read_csv('S07_datasets_13720_18513_insurance.csv')

In [29]:
X = data.iloc[:,:-1]

In [30]:
Y = data.iloc[:,-1]

In [31]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

## Label encoding

In [32]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [33]:
X['sex'] = le.fit_transform(X['sex'])

In [34]:
X['smoker'] = le.fit_transform(X['smoker'])

In [35]:
X

      age  sex     bmi  children  smoker     region
0      19    0  27.900         0       1  southwest
1      18    1  33.770         1       0  southeast
2      28    1  33.000         3       0  southeast
3      33    1  22.705         0       0  northwest
4      32    1  28.880         0       0  northwest
...   ...  ...     ...       ...     ...        ...
1333   50    1  30.970         3       0  northwest
1334   18    0  31.920         0       0  northeast
1335   18    0  36.850         0       0  southeast
1336   21    0  25.800         0       0  southwest
1337   61    0  29.070         0       1  northwest

[1338 rows x 6 columns]

## One hot encoding

In [36]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [37]:
columnTransformer = ColumnTransformer([('encoder', OneHotEncoder(), [5])], remainder='passthrough')

In [38]:
X = columnTransformer.fit_transform(X)

In [39]:
print(X)

[[ 0.    0.    0.   ... 27.9   0.    1.  ]
 [ 0.    0.    1.   ... 33.77  1.    0.  ]
 [ 0.    0.    1.   ... 33.    3.    0.  ]
 ...
 [ 0.    0.    1.   ... 36.85  0.    0.  ]
 [ 0.    0.    0.   ... 25.8   0.    0.  ]
 [ 0.    1.    0.   ... 29.07  0.    1.  ]]

### Train test split

In [40]:
import numpy as np
from sklearn.model_selection import train_test_split

In [41]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state=1)

### Building model

In [57]:
#from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [79]:

model = RandomForestRegressor(n_estimators= 25, random_state = 10)

In [80]:
model.fit(X_train,y_train)

RandomForestRegressor(n_estimators=25, random_state=10)

### Making the prediction

In [81]:
y_pred = model.predict(X_test)

In [82]:
#print(y_pred)

### Comparing the results

In [83]:
comparision = pd.DataFrame()

In [84]:
comparision['Actual'] = y_test

In [85]:
comparision['predicted'] = y_pred

In [86]:
comparision

           Actual     predicted
559    1646.42970   2480.000463
1087  11353.22760  11636.463704
1020   8798.59300   9062.291662
460   10381.47870  10268.878636
802    2103.08000   2218.975448
...           ...           ...
682   40103.89000  41028.495589
629   42983.45850  47669.749063
893   44202.65360  44502.188259
807    2136.88225   2083.121326
1165   5227.98875   5743.258004

[268 rows x 2 columns]

### Evaluatation

In [87]:
from sklearn.metrics import r2_score

In [88]:
r2_score(y_test, y_pred)

0.8517459134135025