### Dataset: https://www.kaggle.com/mirichoi0218/insurance

### Import the library

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

### Import Data

In [2]:
data = pd.read_csv('S07_datasets_13720_18513_insurance.csv')

In [3]:
X = data.iloc[:,:-1]

In [4]:
Y = data.iloc[:,-1]

In [5]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

## Label encoding

In [6]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [7]:
X['sex'] = le.fit_transform(X['sex'])

In [8]:
X['smoker'] = le.fit_transform(X['smoker'])

In [9]:
X

      age  sex     bmi  children  smoker     region
0      19    0  27.900         0       1  southwest
1      18    1  33.770         1       0  southeast
2      28    1  33.000         3       0  southeast
3      33    1  22.705         0       0  northwest
4      32    1  28.880         0       0  northwest
...   ...  ...     ...       ...     ...        ...
1333   50    1  30.970         3       0  northwest
1334   18    0  31.920         0       0  northeast
1335   18    0  36.850         0       0  southeast
1336   21    0  25.800         0       0  southwest
1337   61    0  29.070         0       1  northwest

[1338 rows x 6 columns]

## One hot encoding

In [10]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [11]:
columnTransformer = ColumnTransformer([('encoder', OneHotEncoder(), [5])], remainder='passthrough')

In [12]:
X = columnTransformer.fit_transform(X)

In [13]:
print(X)

[[ 0.    0.    0.   ... 27.9   0.    1.  ]
 [ 0.    0.    1.   ... 33.77  1.    0.  ]
 [ 0.    0.    1.   ... 33.    3.    0.  ]
 ...
 [ 0.    0.    1.   ... 36.85  0.    0.  ]
 [ 0.    0.    0.   ... 25.8   0.    0.  ]
 [ 0.    1.    0.   ... 29.07  0.    1.  ]]

### Train test split

In [14]:
import numpy as np
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state=1)

### Building model

In [16]:
#from sklearn.ensemble import AdaBoostRegressor

In [17]:
#model = AdaBoostRegressor(random_state=0, n_estimators=100)

In [28]:
pip install xgboost

Collecting xgboost
  Downloading xgboost-1.2.1-py3-none-win_amd64.whl (86.5 MB)
Requirement already satisfied: numpy in c:\users\studyeasy\anaconda3\lib\site-packages (from xgboost) (1.18.1)
Requirement already satisfied: scipy in c:\users\studyeasy\anaconda3\lib\site-packages (from xgboost) (1.4.1)
Installing collected packages: xgboost
Successfully installed xgboost-1.2.1
Note: you may need to restart the kernel to use updated packages.

In [61]:
import xgboost as xgb

In [92]:
model = xgb.XGBRegressor(
    n_estimators=100,
    reg_lambda=1,
    gamma=0,
    max_depth=3,
    learning_rate=0.05
)

In [93]:
model.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.05, max_delta_step=0, max_depth=3,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=0, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

### Making the prediction

In [94]:
y_pred = model.predict(X_test)

In [95]:
#print(y_pred)

### Comparing the results

In [96]:
comparision = pd.DataFrame()

In [97]:
comparision['Actual'] = y_test

In [98]:
comparision['predicted'] = y_pred

In [99]:
comparision

           Actual     predicted
559    1646.42970   3197.940674
1087  11353.22760  12424.242188
1020   8798.59300  10295.221680
460   10381.47870  11592.296875
802    2103.08000   3334.812988
...           ...           ...
682   40103.89000  40237.953125
629   42983.45850  44021.812500
893   44202.65360  43659.574219
807    2136.88225   3581.427979
1165   5227.98875   5981.907227

[268 rows x 2 columns]

### Evaluatation

In [100]:
from sklearn.metrics import r2_score

In [101]:
r2_score(y_test, y_pred)

0.8811516755713408